/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Indie+Flower&family=Merriweather:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Body Background */
#background {
    background: rgb(223,206,188) url(../images/cutting-board-salad-1.webp) no-repeat center center / cover fixed;
}

/* Header, logo, big and small menu */

/* Fixed position black background bar containing logo and big/small menu */
#header {
    background-color: #212123;
    width: 100%;
    height: 80px;
    position: fixed; 
    top: 0;
    z-index: 8;
}

/* White logo with foodtruck's name below the colored one */
.logo-with-name {
    width: 205px;
    height: 86px;
    margin-top: -4px;
    position: absolute;
    left: 20px;
    z-index: 3;
}

/* Transparent colored logo with foodtruck's name on top of the white logo visible only on hover */
.logo-with-name-2 {
    width: 205px;
    height: 86px;
    margin-top: -4px;
    position: absolute;
    left: 20px;
    z-index: 4;
    opacity: 0%;
}

/* Changes opacity to fully visible when hovered on giving the illusion of the icon slowly becoming colored */
.logo-with-name-2:hover {
    opacity: 1.0;
    transition: all 0.5s;
}

/* Navigation Menu visible above 1024px width */
#big-menu {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Merriweather, sans-serif;
    list-style-type: none;
    float: right;
    line-height: 50px;
    font-size: 160%;
    display: flex;
    justify-content: end;
}

#big-menu li {
    padding: 14px 25px;
    letter-spacing: 1px;
}

#big-menu a {
    color: white;
    text-decoration: none;
}

/* Underline on hover of links in the header */
#big-menu a:hover {
    border-bottom: 1px solid #FFB018;
    color: #FFB018;
}

/* Underline to showcase active page inspired by Love Running Project */
.active-page {
    border-bottom: 1px solid white;
}

/* Invisible Checkbox, when checked the hidden menu will slide from the right side of the screen */
#checkbox {
    display: none;
}

/* Hamburger Icon visible only below 1025px width, used as a label to check the Checkbox */
#small-menu {
    position: fixed;
    top: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    display: none;
    background: linear-gradient(
        to bottom, 
        white 20%, 
        rgb(33, 33, 35) 10%, rgb(33, 33, 35) 40%, 
        white 40%, white 60%, 
        rgb(33, 33, 35) 20%, rgb(33, 33, 35) 80%, 
        white 80%);
    z-index: 5;
}

/* Navigation Menu hidden out of the visible screen */
#hidden-menu {
    position: fixed;
    top: 0;
    width: 400px;
    height: 330px;
    right: -450px;
    background-color: rgb(33, 33, 35);
    transition: 0.5s;
    list-style-type: none;
    border-radius: 10px;
    padding: 70px 10px;
    font-size: 220%;
    line-height: 2.3;
    font-family: Merriweather, sans-serif;
}

/* When the checkbox, in the form of a hamburger icon, is check the hidden menu will slide in the screen from the right side */
#checkbox:checked ~ #hidden-menu {
    right: -70px;
}

#hidden-menu a {
    text-decoration: none;
    color: white;
}

/* Underline on hover of the links in the hidden menu */
#hidden-menu a:hover {
    border-bottom: 1px solid #FFB018;
    color: #FFB018;
}

/* Home Page Section */

/* Hero image */
#hero-image {
    height: 600px;
    width: 1402px;
    margin: 140px auto 0;
    display: flex;
    justify-content: center;
    background: url(../images/foodtruck.webp) no-repeat center center / cover;
    border: 10px solid black;
}

/* Chalkboard background container */
#board-background {
    position: relative; 
    top: 415px;
    width: 1459px;
    height: 165px;;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pseudo-Child to make the background opaque without affecting the h1 */
#board-background::before {    
    content: "";
    background: url(../images/chalkboard-hero.webp);
    opacity: 0.8;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* Heading inside the opaque background */
#board-background h1 {
    color: antiquewhite;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 460%;
    white-space: nowrap;
    text-align: center;
    text-shadow: 10px 10px 10px black;
    position: relative;
}

/* Div containing the summary boxes */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1422px;
    margin: 0 auto;
}

/* Boxes and content */
.container-item {
    width: 700px;
    margin: 40px 0 0 0;
    height: 440px;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
}

/* Reverses the flex direction of every second element starting from the first  */
.container-item:nth-child(2n+2) {
    flex-direction: row-reverse;
}

/* Flex container for the image */
.container-item-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%
}

/* Attributes for the left image with a left margin and without a right margin, i later realized i could have achieved the same result by applying justify-content: center and align items: center to the parent of the image instead of using the margin but it was my first code ever written and i felt nostalgic */
.item-img-left {
    width: 445px;
    height: 370px;
    margin: 25px 0 25px 25px;
    border: 10px solid black;
}

/* Attributes for the right image with a right margin and without a left margin */
.item-img-right {
    width: 445px;
    height: 370px;
    margin: 25px 25px 25px 0;
    border: 10px solid black;
}

/* Flex Container for the description */
.container-item-description {
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.container-item-description h2 {
    font-family: "Fredericka the great", sans-serif;
    text-decoration: underline;
    font-size: 250%;
    margin-top: 25px;
}

.container-item-description p {
    font-family: "Indie Flower", sans-serif;
    font-size: 200%;
    margin-bottom: 30px;
    padding: 10px;
}

/* An <a> element with css rules applied to look like a <button> element */
.description-button {
    background-color: #FFB018;
    color: #000000;
    text-decoration: none;
    font-size: 230%;
    font-family: "Fredericka the great", sans-serif;
    width: 180px;
    margin-bottom: 25px;
    cursor: pointer;
    border: 2px solid black;
    height: 45px;
    border-radius: 10px;
}

/* Hover function for the button that reverses the colors */
.description-button:hover {
    background-color: #000000;
    color: #FFB018;
    transition: all 0.5s;
}

/* Chalkboard for all pages */

/* Black Chalkboard used to introduce/show wich page the User finds itself in the moment */
#board-container {
    background: url(../images/chalkboard.webp) no-repeat center center / 100% 100%;
    width: 600px;
    height: 360px;
    margin: 140px auto;
    display: flex;
}

/* Black Wooden Frame */
.frame-board {
    background: url(../images/black-frame.webp) no-repeat center center / 100% 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* Menu Page */

/* Chalkboard message identifying the current page */
#menu-board-message {
    font-size: 600%;
    font-family: "Fredericka the great", sans-serif;
    color: whitesmoke;
}

/* Used to identify the product */
.menu-banner {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    height: 120px;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fredericka the great", sans-serif;
    text-align: center; 
    text-transform: uppercase;
}

.menu-banner h2 {
    font-size: 220%;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

/* Flex container rules for the menu content */
.menu-container {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Flex container for the images in the menu */
.menu-image-container {
    width: 60%;
    display: flex;
    margin: 30px;
    justify-content: center;
}

/* The image child element of the image container */
.img-menu {
    width: 96.5%;
    border: 10px solid black;
}

/* Flex container used for the description of the ingredients */
.menu-text-container {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Child element of the description container */
.menu-text-container p {
    font-size: 170%;
    font-family: "Indie Flower", sans-serif;
}

/* Reverses the order of every fourth element starting from the second */
.menu-container:nth-child(4n+2) {
    flex-direction: row-reverse;
}
 
/* Location & Events Page */

/* Rules related to the location */
/* Chalkboard message identifying the current page */
#location-board-message {
    text-align: center;
    font-size: 600%;
    font-family: "Fredericka the great", sans-serif;
    color: whitesmoke;
}

/* Used to identify that the following section of the page is related only to the location */
#location-banner {
    background: rgba(255, 255, 255, 0.6);
    width: 1422px;
    height: 120px;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fredericka the great", sans-serif;
    font-size: 300%;
    text-align: center; 
    text-transform: uppercase;
    text-decoration: underline;
}

/* Flex container for the location section */
#location-container {
    background: rgba(255, 255, 255, 0.6);
    width: 1422px;
    height: 660px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container for the description of the location */
#location-description-container {
    background-color: #FFB018;
    width: 392px;
    height: 600px;
    display: flex;
    border: 5px solid black;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

/* Child of the location-description container */
#location-description-container p {
    padding: 20px;
    font-family: Merriweather, sans-serif;
    font-size: 130%;
}

/* Flex container for the embedded google maps link */
#location-map-container {
    width: 968px;
    height: 600px;
    display: flex;
    border: 5px solid black;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Rules for the embedded google maps link */
#location-map-container iframe {
    width: 964px;
    height: 597px;
    position: absolute;
    top: -1px;
    left: 0px;
}

/* Rules related to Events */

/* Used to identify that the following section of the page is related only to the events */
#events-banner {
    background: rgba(255, 255, 255, 0.6);
    width: 1422px;
    height: 120px;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fredericka the great", sans-serif;
    font-size: 300%;
    text-align: center; 
    text-transform: uppercase;
    text-decoration: underline;
}

/* Flex container for the events descriptions */
#events-container {
    background: rgba(255, 255, 255, 0.6);
    width: 1422px;
    overflow: auto;
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Divs sharing the events container */
#events-container div {
    width: 315px;
    text-align: center;
    border: 5px black solid;
    display: inline-block;
    font-family: Merriweather, sans-serif;
    padding: 10px;
}

#events-container h3 {
    line-height: 3;
    font-size: 200%;
}

#events-container h4 {
    line-height: 2;
    font-size: 170%;
}

#events-container p {
    line-height: 1.5;
}

/* Rules related to the Concept & Story Page */

/* Chalkboard message identifying the current page */
#about-me-board-message {
    text-align: center;
    font-size: 600%;
    font-family: "Fredericka the great", sans-serif;
    color: whitesmoke;
}

/* Rules for the concept section */

/* Used to identify that the following section of the page is related only to the concept */
#concept-banner {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    height: 120px;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fredericka the great", sans-serif;
    font-size: 300%;
    text-align: center; 
    text-transform: uppercase;
    text-decoration: underline;
}

/* Container used for the transparent white background  */
#concept-container {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    position: relative;
    margin: 0 auto 40px;
    padding: 30px 0;
}

/* Flex container for the concept, used separately to be able to reverse the order of the flex-direction */
.concept-flex {
    display:flex;
    padding: 20px;
}

/* Flex container for the descriptions of the concept */
.concept-text {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.concept-text>h3 {
    font-family: "Indie Flower", sans-serif;
    text-shadow: 2px 1px 3px black;
    font-size: 200%;
}

.concept-text>p {
    font-family: "Indie Flower", sans-serif;
    font-size: 145%;
    padding: 0 20px;
}

/* Flex container for the images of the concept */
.concept-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image inside the container */
.concept-image {
    width: 475px;
    height: 317px;
    border: 10px black solid;
}

/* Reverses the flex-direction of every second child after the first */
#concept-container .concept-flex:nth-child(2n+1) {
    flex-direction: row-reverse;
}

/* Flex container created seperately in order to highlight the importance of the subject of eco-friendly materials */
#eco-container {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    margin: 0 auto 40px;
    display: flex;
}

/* Description container for eco */
#eco-text {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
}

#eco-text>h3 {
    font-family: "Indie Flower", sans-serif;
    text-shadow: 2px 1px 3px black;
    font-size: 300%;
    text-decoration: underline;
}

#eco-text ul {
    padding-left: 10%;
}

#eco-text li{
    font-family: "Indie Flower", sans-serif;
    font-size: 145%;
    padding-top: 6.5%;
    text-align: left;
}

/* Image container for eco*/
#eco-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#eco-image {
    width: 475px;
    height: 400px;
    border: 10px black solid;
}

/* Rules related to the story */

/* Used to identify that the following section of the page is related only to the Story */
#story-banner {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    position: relative;
    height: 120px;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fredericka the great", sans-serif;
    font-size: 300%;
    text-align: center; 
    text-transform: uppercase;
    text-decoration: underline;
}

/* Flex container for the story */
#story-container {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

/* Flex container for the description of the story */
#story-text {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Indie Flower', sans-serif;
    font-size: 150%;
    letter-spacing: 0px;
    padding: 20px 40px;
}

/* Flex container for the image of the owner of the Foodtruck */
#story-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

#story-image {
    width: 475px;
    height: 475px;
    border: 10px black solid;
}

/* Rules related to the contact page */ 

/* Chalkboard message identifying the current page */
#contact-board-message {
    text-align: center;
    font-size: 600%;
    font-family: "Fredericka the great", sans-serif;
    color: whitesmoke;
}

/* Banner used also for Subscribe form */
.contact-banner {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    height: 120px;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fredericka the great", sans-serif;
    font-size: 300%;
    text-align: center; 
    text-transform: uppercase;
    text-decoration: underline;
}

/* Container used also for Subscribe form */
.contact-container {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    margin: 0 auto 40px;
    overflow: auto;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Indie Flower", sans-serif;
    font-size: 130%;
}

/* Contact and Subscribe Form */
.contact-form {
    width: 576px;
    padding: 30px;
    text-align: left;
    margin: 0 auto;
}

.contact-form>input[type=text], .contact-form>input[type=email], .contact-form>textarea {
    width: 96%;
    padding: 10px;
    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Send button */
.form-submit {
    font-size: 250%;
    font-family: "Fredericka the great", sans-serif;
    background-color: #FFB018;
    color: #000000;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #000000;
    color: #FFB018;
    transition: all 0.5s;
}

/* Required <p> */
.required {
    text-align: left;
    display: inline-block;
    margin-right: 488px;
}

/* Rule used to make specific parts of paragraphs bold and highlight with a shadow */
.text-shadow {
    text-shadow: 2px 1px 3px black;
    font-weight: bold;
}

/* Form-Dump Page */

/* Thank you board message*/
#thank-you-message {
    text-align: center;
    font-size: 600%;
    font-family: "Fredericka the great", sans-serif;
    color: whitesmoke;
}

/* Flex container and text style rules */
#dump-container {
    background: rgba(255, 255, 255, 0.6);
    width: 1152px;
    height: 300px;
    margin: 0 auto 40px;
    padding: 30px;
    text-align: center;
    font-family: "Indie Flower", sans-serif;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

/* Footer */

/* Used to make the footer section a flex container and giving it a black color to highlight it */
footer {
    background-color:#212123;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 30px;
    height: 80px;
}

/* Used flex-grow in order to experiment something new */
.footer-row-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 100%;
}

/* Used as a flex container for the logo */
.footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Used the same concept of the logo in the header, this one doesn't have the name in it */
.logo, .logo-2 {
    width: 75px;
    height: 75px;
}

.logo-2 {
    margin-top: -75px;
    opacity: 0%;
}

.logo-2:hover {
    opacity: 1.0;
    transition: all 0.5s;
}

/* Flex container for the middle row, used for displaying the e-mail and the phone number of the owner/foodtruck */
.contact-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-row p {
    display: flex;
    align-items: center;
    color: white;
    font-size: 150%;
    padding: 5px;
}
  
.contact-row i {
    margin-right: 15px;
}

/* Flex container for the right row with social links */
.social-links-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-row i {
    font-size: 250%;
    color: white;
    margin: 0 15px;
}

/* The awesome fonts icon turn the same color of the logos and links when hovered on */
.social-links-row i:hover {
    color: #FFB018;
    transition: all 0.3s;
}

/* Media queries */

@media screen and (max-width: 1440px) {

    /* Home Page */
    #hero-image {
        width: 1242px;
    }
    .container {
        width: 1262px;
        flex-wrap: wrap;
    }

    .container-item {
        width: 100%;
        height: 600px;
    }

    .container-item-img {
        width: 53%;
    }

    .container-item-description {
        width: 47%;
    }

    .item-img-left, .item-img-right {
        width: 630px;
        height: 530px;
    }

    .container-item-description h2 {
        font-size: 400%;
    }

    .container-item-description p {
        font-size: 250%;
    }

    .description-button {
        font-size: 350%;
        width: 300px;
        height: 75px;
    }

    /* Location & Events */

    #location-banner, #location-container, #events-banner, #events-container {
        width: 1262px;
    }

    #location-description-container {
        width: 344px;
    }

    #location-map-container {
        width: 856px;
    }

    #location-map-container iframe {
        width: 852px;
    }

    #events-container div {
        width: 275px;
    }
}

@media screen and (max-width: 1280px) {
    
    /* Home Page */
    #hero-image {
        width: 987px;
    }

    .container {
        width: 1007px;
    }

    .container-item {
        height: 500px;
    }

    .container-item-img {
        width: 50%;
    }

    .container-item-description {
        width: 50%;
    }

    .item-img-left, .item-img-right {
        width: 460px;
        height: 430px;
    }

    /* Menu */
    .menu-banner, .menu-container {
        width: 1007px;
    }

    /* Location & Events */
    #location-banner, #location-container, #events-banner, #events-container {
        width: 1007px;
    }

    #location-container {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    #location-description-container {
        width: 964px;
        height: 300px;
    }

    #location-map-container {
        width: 964px;
        height: 450px;
    }

    #location-map-container iframe {
        width: 960px;
        height: 447px;
    }

    #events-container div {
        width: 452px; 
    }

    /* Concept & Story */
    #concept-banner, #concept-container, #eco-container, #story-banner, #story-container {
        width: 1007px;
    }

    /* Contact */
    .contact-banner, .contact-container {
        width: 1007px;
    }

    /* Form-dump */

    #dump-container {
        width: 950px;
    }
}

/* This media querie is for the header only */
@media screen and (max-width: 1140px) {
    
    /* Header */
    .logo-with-name, .logo-with-name-2 {
        width: 175px;
        height: 73.5px;
        top: 5px;
    }

    #big-menu {
        font-size: 145%;
    }

    #big-menu li {
        padding: 14px 20px;
    }
}

@media screen and (max-width: 1024px) {
   
    /* Header */
    /* Turns the big menu invisible and enables the small menu and hidden menu */
    #big-menu {
        display: none;
    }
      #small-menu {
        display: flex;
    }

    /* Home Page */
    #hero-image {
        height: 360px;
        width: 92%;
        margin: 120px auto 0;
    }

    #board-background {
        top: 265px;
        width: 100%;
        height: 80px;
    }

    .container {
        width: 100%;
    }

    .container-item {
        width: 94%;
        flex-wrap: wrap;
        margin: 40px auto;
        height: auto;

    }

    .container-item-img {
        width: 100%;
    }

    .item-img-left, .item-img-right {
        margin: 30px auto;
        width: 575px;
        height: 470px;
    }

    .container-item-description {
        width: 100%;
        margin-bottom: 30px;
    }

    .container-item-description h2 {
        margin: 0;
        font-size: 350%;
    }

    .container-item-description p {
        margin-top: 10px;
        font-size: 200%;
    }

    .description-button {
        font-size: 300%;
        height: 62px;
        margin-bottom: 0px;
    }

    /* Menu */
    .menu-banner, .menu-container {
        width: 750px
    }

    .img-menu {
        width: 95%;
    }

    .menu-text-container p {
        font-size: 130%;
        line-height: 1.35;
    }

    /* Location & Events */
    #location-banner, #location-container, #events-banner, #events-container {
        width: 750px;
    }

    #location-container {
        flex-direction: column;
        height: 730px;
    }

    #location-description-container {
        width: 708px;
        height: 300px;
    }

    #location-map-container {
        width: 708px;
        height: 410px;
    }

    #location-map-container iframe {
        width: 704px;
        height: 407px;
    }

    #events-container div {
        width: 330px; 
    }

    /* Concept & Story */
    #concept-banner, #concept-container, #eco-container, #story-banner, #story-container {
        width: 750px;
    }

    .concept-flex {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .concept-text {
        width: 100%;
    }

    #concept-container .concept-flex:nth-child(2n+1) {
        flex-direction: column-reverse;
    }

    #eco-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #eco-image-container {
        width: 100%;
        padding: 20px 0;
    }

    #eco-image {
        width: 475px;
    }

    #eco-text, #story-text {
        width: 71%;
    }

    #story-container {
        flex-direction: column-reverse;
    }

    /* Contact */
    .contact-banner, .contact-container {
        width: 750px;
    }

    /* Form-Dump */

    #dump-container {
        width: 700px;
        font-size: 150%;
    }
}

/* From this media querie on there is no margin between the containers and the borders of the website except for location&events*/
@media screen and (max-width: 768px) {
    
    /* Header */
    #hidden-menu {
        width: 335px;
        height: 275px;
        font-size: 200%;
        line-height: 2.2;
    }

    #checkbox:checked ~ #hidden-menu {
        right: -40px;
    }

    /* Home page */
    #hero-image {
        height: 360px;
        width: 100%;
        margin: 100px auto 0;
        border: none;
        box-shadow: 0px 0px 0px 7px black inset;
    }

    #board-background h1 {
        font-size: 300%;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .container-item {
        width: 100%;
    }
    
    .item-img-left, .item-img-right {
        width: 410px;
        height: 300px;
        border: 7px solid black;
        margin: 25px auto;
    }
    
    .container-item-description {
        margin-bottom: 25px;
    }

    .container-item-description h2 {
        font-size: 250%;
    }

    .container-item-description p {
        font-size: 150%;
    }

    /* Board */
    #board-container {
        width: 445px;
    }
    
    /* Menu */
    .menu-banner, .menu-container {
        width: 100%;
    }

    .menu-container, .menu-container:nth-child(4n+2) {
        flex-direction: column;
    }

    .menu-image-container {
        margin: 0;
        justify-content: center;
    }

    .img-menu {
        width: 340px;
        margin: 0 auto;
    }

    .menu-text-container {
        width: 80%;
        margin: 20px;
    }

    /* Location & Events */
    #location-board-message {
        font-size: 550%;
    }

    #location-banner, #location-container {
        width: 100%;
        max-width: 719px;
    }

    #location-container {
        height: 570px;
    }

    #location-banner {
        font-size: 250%;
    }

    #location-description-container {
        width: 420px;
        height: 230px;
    }

    #location-description-container p {
        font-size: 90%;
    }

    #location-map-container {
        width: 420px;
        height: 320px;
    }

    #location-map-container iframe {
        width: 416px;
        height: 317px;
    }

    #events-banner, #events-container {
        width: 100%;
        max-width: 719px;
    }

    #events-container {
        padding-top: 0;
        padding-bottom: 20px;
    }

    #events-banner {
        font-size: 250%;
    }

    #events-container div {
        width: 210px; 
    }

    #events-container h3 {
        font-size: 150%;
    }

    #events-container h4 {
        font-size: 120%;
    }

    #events-container {
        font-size: 80%;
    }

    /* Concept & Story */
    #about-me-board-message {
        font-size: 500%;
    }

    #concept-banner, #concept-container, #eco-container, #story-banner, #story-container {
        width: 100%;
    }

    .concept-image, #eco-image, #story-image {
        width: 420px;
    }

    /* Contact */
    #contact-board-message {
        font-size: 500%;
    }

    .contact-banner {
        width: 100%;
        font-size: 220%;
    }

    .contact-container {
        width: 100%;
        font-size: 100%;
        overflow: hidden;
    }

    .contact-form {
        width: 412px;
    }

    .required {
        margin-right: 340px;
    }

    /* Footer */
    .logo, .logo-2 {
        width: 60px;
        height: 60px;
    }

    .logo-2 {
        margin-top: -60px;
    }

    .contact-row p {
        padding-left: 10px;
    }
    
    .social-links-row {
        justify-content: end;
    }
    .social-links-row i {
        font-size: 250%;
        margin: 4px 8px;
    }

    /* Form-Dump */

    #dump-container {
        width: 100%;
        padding: 0;
        font-size: 150%;
        height: 400px;
    }
    
    #dump-container p, #dump-container h2 {
        padding: 20px;
    }
}

/* Media querie only for footer */
@media screen and (max-width: 645px) {

    /* Footer */
    footer {
        height: 150px;
        padding: 0;
    }
    .logo, .logo-2 {
        width: 50px;
        height: 50px;
    }

    .logo-2 {
        margin-top: -50px;
    }

    .contact-row p {
        font-size: 120%;
    }
    
    .social-links-row {
        justify-content: center;
        flex-direction: column;
    }

    .social-links-row i {
        font-size: 175%;
    }
}

@media screen and (max-width: 480px) {

    /* Header */
    #hidden-menu {
        width: 180px;
        height: 175px;
        font-size: 130%;
        line-height: 2.4;
    }

    #checkbox:checked ~ #hidden-menu {
        right: -5px;
    }

    /* Home Page */
    #board-background {
        top: 265px;
    }

    #board-background h1 {
        font-size: 230%;
    }

    .container {
        margin: 15px auto;
    }
    
    .item-img-left, .item-img-right {
        width: 330px;
        height: 238px;
        border: 5px solid black;
    }

    /* Board */
    #board-container {
        width: 340px;
        height: 300px;
    }

    /* Menu */
    .menu-banner, .menu-container {
        width: 100%;
    }

    .img-menu {
        width: 330px;
        border: 5px solid black;
    }

    /* Location & Events */
    #location-board-message {
        font-size: 402%;
    }

    #location-banner, #events-banner {
        font-size: 225%;
        width: 100%;
        max-width: none;
    }
    
    #location-container {
        height: 450px;
        width: 100%;
    }

    #location-description-container {
        width: 300px;
        height: 200px;
    }

    #location-description-container p {
        padding: 0 10px;
    }

    #location-map-container {
        width: 300px;
        height: 230px;
    }

    #location-map-container iframe {
        width: 296px;
        height: 227px;
    }

    #events-container {
        width: 100%;
        max-width: none;
        padding-top: 0;
        padding-bottom: 20px;
    }

    #events-container div {
        width: 310px;
    }

    #events-container h3 {
        line-height: 1.5;
    }

    #events-container h4 {
        line-height: 1.5;
    }

    /* Concept & Story */
    #about-me-board-message {
        font-size: 450%;
    }

    #concept-banner {
        font-size: 250%;
    }

    .concept-image, #eco-image, #story-image {
        width: 310px;
        border: 5px solid black;
    }

    .concept-image {
        height: 270px;
    }
    
    #story-image, #eco-image {
        height: 310px;
    }

    /* Contact */
    #contact-board-message {
        font-size: 475%;
    }

    .contact-banner {
        font-size: 170%;
    }

    .contact-form {
        width: 300px;
    }
    
    .required {
        margin-right: 240px;
    }

    /* Form-Dump */

    #dump-container {
        font-size: 120%;
    }
}

@media screen and (max-width: 360px) {

    /* Home Page */
    #board-background h1 {
        font-size: 200%;
    }

    .item-img-left, .item-img-right {
        width: 280px;
    }

    .description-button {
        width: 250px;
    }

    /* Board */
    #board-container {
        width: 300px;
        height: 240px;
    }

    /* Menu */
    #menu-board-message {
        font-size: 500%;
    }

    .menu-banner {
        padding: 20px 0;
    }

    .img-menu {
        width: 280px;
    }

    /* Location & Events */
    #location-board-message {
        font-size: 360%;
    }

    #location-banner, #events-banner {
        font-size: 210%;
    }

    #location-description-container {
        width: 293px;
        height: 200px;
    }

    #location-map-container {
        width: 293px;
        height: 230px;
    }

    #location-map-container iframe {
        width: 289px;
        height: 227px;
    }

    #events-container div {
        width: 221px;
    }

    /* Concept & Story */
    #about-me-board-message {
        font-size: 392%;
    }

    #concept-banner {
        font-size: 230%;
    }

    .concept-image, #eco-image, #story-image {
        width: 280px;
    }
    
    #story-image, #eco-image {
        height: 280px;
    }

    /* Contact */
    #contact-board-message {
        font-size: 425%;
    }
    
    .contact-form {
        width: 250px;
    }

    .required {
        margin-right: 190px;
    }

    /* Form Dump */

    #thank-you-message {
        font-size: 500%;
    }

    /* Footer */
    .contact-row p {
        font-size: 100%;
        line-height: 2.5;
    }

    .social-links-row i {
        font-size: 150%;
        margin: 7px 8px;
    }
}