/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* */
body {
    background: #966F33 url(../images/cutting-board-salad.jpg) no-repeat center center fixed;
}

/* Header, logo and navigation bar */

#header {
    background-color: grey;
    overflow: hidden;
    white-space: no-wrap;
    width: 100%;
}

#logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#list-menu {
    font-family: "East Sea Dokdo";
    list-style-type: none;
    float: right;
    padding-top: 12px;
    font-size: 250%;
}

#list-menu li {
    float: left;
    padding: 14px 40px;
    text-transform: uppercase;
    display: inline;
}

#list-menu a {
    text-decoration: none;
}

#list-menu a:hover {
    border-bottom: 1px solid black;
}

.active-page {
    border-bottom: 1px solid black;
}