#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    color: white;
}

#ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#ul li {
    padding: 3px;
    list-style: none;
}

#ul a {
    text-decoration: none;
    color: white;
}

#active-page {
    border-bottom: 1px solid white;
}

#menu-section {
    display: auto;
}

#game-section {
    display: none;
}

#hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}

#start-button-container {
    display: flex;
    justify-content: center;
}

#start-game {
    height: 50px;
    width: 100px;
}

#button-section {
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
}

#rock-button {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-image: url(/assets/images/rock.png);
    background-size: auto;
    background-position: center;
}

#paper-button {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-image: url(/assets/images/paper.png);
    background-size: auto;
    background-position: center;
}

#scissors-button {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-image: url(/assets/images/scissors.png);
    background-size: auto;
    background-position: center;
}

#footer {
    display: flex;
    height: 100px;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}